.project-slider{
    &__info-project{
        height: 500px;
        @include media-breakpoint-down(lg) { 
            margin-top: 2rem;
            height: auto;
            padding-bottom: 10rem;
        }
        .swiper-slide{
            padding-right: 3rem;
            h6{
                color: $gray;
            }
            h5{
                line-height: 1;
                margin-bottom: 3.5rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                @include media-breakpoint-down(lg) { 
                    margin-bottom: 1.5rem;
                }
            }
        }
        &__swiper-arrows{
            position: absolute;
            bottom: 13px;
            left: 0;
            width: 100px;
            z-index: 5;
            .swiper-button-next{
                width: 36px;
                height: 36px;
                &:after{
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='35.5' width='35' height='35' transform='rotate(-90 0.5 35.5)' stroke='%23191919'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.125 18C10.125 17.8508 10.1843 17.7078 10.2898 17.6023C10.3952 17.4968 10.5383 17.4375 10.6875 17.4375L23.9546 17.4375L20.4142 13.8983C20.3086 13.7926 20.2493 13.6494 20.2493 13.5C20.2493 13.3506 20.3086 13.2074 20.4142 13.1018C20.5199 12.9961 20.6631 12.9368 20.8125 12.9368C20.9619 12.9368 21.1051 12.9961 21.2108 13.1018L25.7108 17.6018C25.7631 17.654 25.8047 17.7161 25.8331 17.7844C25.8614 17.8528 25.876 17.926 25.876 18C25.876 18.074 25.8614 18.1473 25.8331 18.2156C25.8047 18.2839 25.7631 18.346 25.7108 18.3983L21.2108 22.8983C21.1051 23.0039 20.9619 23.0632 20.8125 23.0632C20.6631 23.0632 20.5199 23.0039 20.4142 22.8983C20.3086 22.7926 20.2493 22.6494 20.2493 22.5C20.2493 22.3506 20.3086 22.2074 20.4142 22.1018L23.9546 18.5625L10.6875 18.5625C10.5383 18.5625 10.3952 18.5033 10.2898 18.3978C10.1843 18.2923 10.125 18.1492 10.125 18Z' fill='%23191919'/%3E%3C/svg%3E%0A");
                    background-size: contain;
                    width: 100%;
                    width: 36px;
                    height: 35px;
                    background-repeat: no-repeat;
                    transition: .4s ease background-image;
                }
                &:hover{
                    &:after{
                        background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='%23191919' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='35.5' width='35' height='35' transform='rotate(-90 0.5 35.5)' stroke='%23191919'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.125 18C10.125 17.8508 10.1843 17.7078 10.2898 17.6023C10.3952 17.4968 10.5383 17.4375 10.6875 17.4375L23.9546 17.4375L20.4142 13.8983C20.3086 13.7926 20.2493 13.6494 20.2493 13.5C20.2493 13.3506 20.3086 13.2074 20.4142 13.1018C20.5199 12.9961 20.6631 12.9368 20.8125 12.9368C20.9619 12.9368 21.1051 12.9961 21.2108 13.1018L25.7108 17.6018C25.7631 17.654 25.8047 17.7161 25.8331 17.7844C25.8614 17.8528 25.876 17.926 25.876 18C25.876 18.074 25.8614 18.1473 25.8331 18.2156C25.8047 18.2839 25.7631 18.346 25.7108 18.3983L21.2108 22.8983C21.1051 23.0039 20.9619 23.0632 20.8125 23.0632C20.6631 23.0632 20.5199 23.0039 20.4142 22.8983C20.3086 22.7926 20.2493 22.6494 20.2493 22.5C20.2493 22.3506 20.3086 22.2074 20.4142 22.1018L23.9546 18.5625L10.6875 18.5625C10.5383 18.5625 10.3952 18.5033 10.2898 18.3978C10.1843 18.2923 10.125 18.1492 10.125 18Z' fill='%23F7F6F1'/%3E%3C/svg%3E%0A");
                    }
                }
            }
            .swiper-button-prev{
                width: 36px;
                height: 36px;
                &:after{
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='35.5' width='35' height='35' transform='rotate(-90 0.5 35.5)' stroke='%23191919'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.125 18C10.125 17.8508 10.1843 17.7078 10.2898 17.6023C10.3952 17.4968 10.5383 17.4375 10.6875 17.4375L23.9546 17.4375L20.4142 13.8983C20.3086 13.7926 20.2493 13.6494 20.2493 13.5C20.2493 13.3506 20.3086 13.2074 20.4142 13.1018C20.5199 12.9961 20.6631 12.9368 20.8125 12.9368C20.9619 12.9368 21.1051 12.9961 21.2108 13.1018L25.7108 17.6018C25.7631 17.654 25.8047 17.7161 25.8331 17.7844C25.8614 17.8528 25.876 17.926 25.876 18C25.876 18.074 25.8614 18.1473 25.8331 18.2156C25.8047 18.2839 25.7631 18.346 25.7108 18.3983L21.2108 22.8983C21.1051 23.0039 20.9619 23.0632 20.8125 23.0632C20.6631 23.0632 20.5199 23.0039 20.4142 22.8983C20.3086 22.7926 20.2493 22.6494 20.2493 22.5C20.2493 22.3506 20.3086 22.2074 20.4142 22.1018L23.9546 18.5625L10.6875 18.5625C10.5383 18.5625 10.3952 18.5033 10.2898 18.3978C10.1843 18.2923 10.125 18.1492 10.125 18Z' fill='%23191919'/%3E%3C/svg%3E%0A");
                    background-size: contain;
                    width: 100%;
                    width: 36px;
                    height: 35px;
                    transform: rotate(180deg);
                    background-repeat: no-repeat;
                    transition: .4s ease background-image;
                }
                &:hover{
                    &:after{
                        background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='%23191919' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='35.5' width='35' height='35' transform='rotate(-90 0.5 35.5)' stroke='%23191919'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.125 18C10.125 17.8508 10.1843 17.7078 10.2898 17.6023C10.3952 17.4968 10.5383 17.4375 10.6875 17.4375L23.9546 17.4375L20.4142 13.8983C20.3086 13.7926 20.2493 13.6494 20.2493 13.5C20.2493 13.3506 20.3086 13.2074 20.4142 13.1018C20.5199 12.9961 20.6631 12.9368 20.8125 12.9368C20.9619 12.9368 21.1051 12.9961 21.2108 13.1018L25.7108 17.6018C25.7631 17.654 25.8047 17.7161 25.8331 17.7844C25.8614 17.8528 25.876 17.926 25.876 18C25.876 18.074 25.8614 18.1473 25.8331 18.2156C25.8047 18.2839 25.7631 18.346 25.7108 18.3983L21.2108 22.8983C21.1051 23.0039 20.9619 23.0632 20.8125 23.0632C20.6631 23.0632 20.5199 23.0039 20.4142 22.8983C20.3086 22.7926 20.2493 22.6494 20.2493 22.5C20.2493 22.3506 20.3086 22.2074 20.4142 22.1018L23.9546 18.5625L10.6875 18.5625C10.5383 18.5625 10.3952 18.5033 10.2898 18.3978C10.1843 18.2923 10.125 18.1492 10.125 18Z' fill='%23F7F6F1'/%3E%3C/svg%3E%0A");
                    }
                }
            }
        }
        .swiper-pagination{
            &.swiper-pagination-fraction{
                position: absolute;
                right: 20px;
                bottom: 0;
                width: 40px;
                left: auto;
                font-family: 'Nunito', sans-serif;
                color: $gray;
            }
        }
    }
    &__image{
        .swiper-slide{
            width: 80%;
            @include media-breakpoint-down(lg) { 
                width: 90%;
            }
            img{
                height: 500px;
                width: 100%;
                object-fit: cover;
                @include media-breakpoint-down(lg) { 
                    height: 250px;
                }
            }
            &:last-child{
                width: 100%;
            }
        }
    }
}