// COLORS

// 👉 Change the variable's values or add new color variables.

$white:    #F7F6F1;
$gray: #969696;
$black:    #191919;

$blue:    #2C58FF;
$indigo:  #6610F2;
$purple:  #6F42C1;
$pink:    #E83E8C;
$red:     #DC3545;
$orange:  #FD7E14;
$yellow:  #FFC107;
$green:   #28A745;
$teal:    #20C997;
$cyan:    #17A2B8;

$primary:       $indigo;
$secondary:     $teal;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
