// FONTFACE

@font-face {
    font-family: 'Rekless Neue';
    src: url('../../fonts/RecklessNeue-Light.woff2') format('woff2'),
         url('../../fonts/RecklessNeue-Light.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Rekless Neue';
    src: url('../../fonts/RecklessNeue-Regular.woff2') format('woff2'),
         url('../../fonts/RecklessNeue-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Rekless Neue';
    src: url('../../fonts/RecklessNeue-Bold.woff2') format('woff2'),
         url('../../fonts/RecklessNeue-Bold.woff') format('woff');
    font-weight: 500;
}
