/*** MAIN ***/


.circle {
    width:100%;

    padding:30% 0;
    border-radius:50%;

    margin-top: 20rem;
}

/* buttons */
.my-btn-b {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.my-btn-b:hover {
    background: white;
    color: black;
    transition: 0.2s;
}

.my-btn-w {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.my-btn-w:hover {
    background: black;
    color: white;
    transition: 0.2s;
}
